@font-face {
    font-family:'larger-custom-regular';
    src:url(LargerCustom-Regular.otf) format('opentype') ;
    font-size: 120px;
}
container {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(50%, -50%);
    width: 600px;
    height: 400px;
    background-color: rgba(169, 65, 65, 0.8);
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding: 20px;
    box-sizing: border-box; }

body{
    margin: 0;
    padding:0; 
    height:100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: "larger-custom-regular", cursive;
    background: linear-gradient(90deg, #fff 50%, #ffffff 50%);
}
p{
     color:#6010a0;
    line-height:45px;
    font-family: "larger-custom-regular", cursive;
}
input{
    display:none;
} 

img{
    background:
}


