@font-face {
    font-family:'MyHandwriting-Regular';
    src:url(MyHandwriting-Regular.otf) format('opentype') ;
    font-size: 120px;
}

body{
    margin: 0;
    padding:0; 
    height:100vh;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-family: "MyHandwriting-Regular", cursive;
    background: linear-gradient(90deg, #fff 50%, #3f0847 50%);
}
p{
     color:#000;
    line-height:45px;
    font-family: "MyHandwriting-Regular", cursive;
}
input{
    display:none;
} 
.book {
    display:flex;

}
#cover {
    width: 250px;
    height: 400px;
}
.flip-book { 
    width: 250px; 
    height:400px; 
    position: relative; 
    perspective: 1500px;
}
.flip { 
    width: 100%; 
    height: 100%;
    position: absolute; 
    top:0;
    left:0;
    transform-origin:left;
    transform-style: preserve-3d;
    transform:rotate(0deg);
    transition: .5s;
    color:#000;
}
p{
    font-size: 14px;
    line-height: 24px;
    font-family: "MyHandwriting-Regular", cursive;
}

.front {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:#000;
    box-sizing: border-box;
    padding:0 13px;
    box-shadow: inset 20px 0 50px  rgba(0,0,0,0.5) 0 2px 5px rgba(0,0,0,0.5)
    
}

.back {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:99;
    backface-visibility: hidden;
    background-color:#ffffff;
} 



#p1{
    z-index:3 ;
}
#p2{
    z-index:2 ;
}
#p3{
    z-index:1 ;
}
#c1:checked ~ .flip-book #p1{
    transform: rotate(-180deg);
}
#c2:checked ~ .flip-book #p2{
    transform: rotate(-180deg);
}
#c3:checked ~ .flip-book #p3{
    transform: rotate(-180deg);
}


