@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,100;0,300;0,400;0,500');


body{
    margin: 0;
    padding:0; 
    height:100vh;
    display: flex; 
    justify-content: center;
    align-items: "Roboto", sans-serif; 
font-family: "Roboto" sans-serif;
background: linear-gradient(90deg, #fff 50%, #4a1010 50%);
}
input{
    display:none;
} 
.book {
    display:flex;

}
#cover {
    width: 250px;
    height: 400px;
}
.flip-book { 
    width: 250px; 
    height:400px; 
    position: relative; 
    perspective: 1500px;
}
.flip { 
    width: 100%; 
    height: 100%;
    position: absolute; 
    top:0;
    left:0;
    transform-origin:left;
    transform-style: preserve-3d;
    transform:rotate(0deg);
    transition: .5s;
    color:#000;
}
p{
    font-size: ;
}